@font-face {
	font-family: "Ceremonious One";
	src: url("../fonts/ceremonious-one/ceremonious-one.eot"); 
	src: url("../fonts/ceremonious-one/ceremonious-one.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/ceremonious-one/ceremonious-one.otf") format("opentype"), /* Open Type Font */
		url("../fonts/ceremonious-one/ceremonious-one.svg") format("svg"), /* Legacy iOS */
		url("../fonts/ceremonious-one.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/ceremonious-one/ceremonious-one.woff") format("woff"), /* Modern Browsers */
		url("../fonts/ceremonious-one/ceremonious-one.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}