.section_godunov{
  background-image: url(../img/pushkin/fon_godunov.png);
  position: absolute;

  width: 3840px;
  height: 2160px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
}
.btns_godunov{
  position: absolute;
width: 1007px;
height: 739px;
left: 408px;
top: 456px;
background: #FFFAEE;
margin-bottom: 0;
}
#godunov1{
  position: absolute;
width: 893px;
height: 139px;
left: 55px;
    top: 177px;

background: #EFC26D;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
border-radius: 35px;
}
#godunov1:hover{
  background-color: #be9446;
}
#godunov2{
  position: absolute;
width: 893px;
height: 139px;
left: 55px;
    top: 419px;

background: #EFC26D;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
border-radius: 35px;
}
#godunov2:hover{
  background-color: #be9446;
}
.fotoryad{
  position: absolute;
width: 1310px;
height: 79px;
left: 1769px;
top: 1120px;

font-family: 'Bodoni';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
text-align: center;
border-bottom: 1px solid black;
}
.foto{
z-index: 0;
position: absolute;
width: 3028px;
height: 689px;
left: 406px;
top: 1241px;
display: flex;
align-items: center;
justify-content: space-between;
// gap: 45px;
background: linear-gradient(360deg, #D9D9D9 0%, rgba(220, 220, 220, 0) 95.51%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.data_btns{
  position: absolute;
width: 1887.81px;
height: 206px;
left: 1489px;
top: 717px;
display: flex;
justify-content: space-between;
align-items: center;
}
.number{
  width: 379px;
height: 196px;
  background: #EFC26D;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
border-radius: 35px;
}
.btn-slide{
  transform: rotate(267deg);
}
.btn-slide img{
  position: absolute;
width: 83.81px;
height: 131.02px;
left: 3293px;
top: 758px;
transform: rotate(267deg);
}