.section_shill{
  background-image: url(../img/shiller/fon_shil.png);
  position: absolute;

  width: 3840px;
  height: 2160px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
}